*{
    margin: 0;
    padding: 0;;
}
.clock{

}
html,body{
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: #000;
}

.clock{
    height: 100px;
    width: 350px;
    background: linear-gradient(135deg,#14ffe9,#ffeb3b,#ff00e0);
    border-radius: 10px;
    cursor: default;
    animation: animate 1.5s linear infinite;
}
.clock .display,
    .clock span{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      
    }

.clock .display{
    background: #1b1b1b;
    border-radius: 6px;
    height: 90px;
    width: 337px;
    text-align: center;
    z-index:999;
    
}
.clock .display #time{
    line-height: 90px;
    color: white;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 1px;
    background: linear-gradient(135deg,#14ffe9,#ffeb3b,#ff00e0);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    animation: animate 1.5s linear infinite
}
@keyframes animate{
    100%{
        filter: hue-rotate(360deg);
    }
}
.clock span{
    height: 100%;
    width: 100%;
    background:inherit;
    border-radius: 20px;
}
.clock span:first-child{
    filter: blur(20px);
}
.clock span:last-child{
    filter: blur(30px);
}
